@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@400;500&display=swap');

p {
    margin: 0px !important;
}

.mainDivContainer {
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
    /* overflow: hidden !important; */
    /* background-color: blue; */
}

.mainDivRow {
    display: flex;
    flex-direction: row;
    margin: 0 !important;
    padding: 0 !important;
    height: 100vh;
    max-height: 100vh;
    min-height: 100vh;
    /* overflow: hidden !important; */
}

.sideBar {
    width: 38%;
    background-color: #e0c08f;

    /* height: 50% !important; */
}

.scrolldown-text {
    font-family: 'Spectral', serif;
    color: white;
    font-size: 15px;
    font-weight: 500;
}

.sidebar-text {
    font-family: 'Spectral', serif;
    color: white;
    font-size: 15px;
    font-weight: 500;
}

.content {
    text-align: center;
    margin-top: 50px;
}

.imageDiv {
    width: 62%;
    height: 100%;
    /* overflow: hidden; */
}

.imageDiv img {
    width: 100%;
    height: 100% !important;
}

.mainDiv2 {
    position: fixed;
    width: 100%;
    z-index: 1;
    bottom: 0;
    height: 17vh;
    padding: 0px 15px;
    background-color: #bb4e3a;
}

.box_div {
    display: flex;
    flex-direction: row;
}

.box, .pastbox, .activebox {
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 8.33%;
    height: 17vh;
}

.box span {
    width: 100%;
    color: #ca7d6f;
    text-align: center;
    padding: 0 !important;
    margin: 0 !important;
}

.pastbox span {
    opacity: 0.5;
    width: 100%;
    color: #7a3020;
    text-align: center;
    padding: 0 !important;
    margin: 0 !important;
}

.activebox span {
    width: 100%;
    color: whitesmoke;
    text-align: center;
    padding: 0 !important;
    margin: 0 !important;
}

.month {
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    padding: 0 !important;
    margin: 0 !important;
}

.date {
    padding: 0 !important;
    margin: 0 !important;
    font-size: 40px;
    line-height: 40px;
    font-weight: 400 !important;
}
.activemonth {
    font-size: 15px;
    line-height: 20px;
    padding: 0 !important;
    margin: 0 !important;
}

.activedate {
    padding: 0 !important;
    margin: 0 !important;
    font-size: 55px;
    line-height: 55px;
    font-weight: 400 !important;
}

.today {
    color: whitesmoke;
    font-size: 15px;
    line-height: 25px;
    padding: 0 !important;
    margin: 0 !important;
}